<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout-test/layout}">
<head>
    <link rel="stylesheet" href="/static/css/hyepin/resume-matchingList.css"/>
    <link rel="stylesheet" href="/static/css/hyepin/resume-detail-company.css"/>
    <title>Title</title>
</head>
<body layout:fragment="content">
<div class="detail-container" style="display: flex; flex-direction: column; gap: 10px;">
    <input type="hidden" name="sessionUsername" id="sessionUsername" th:value="${session.user.getUsername}">

    <div style="display: flex; align-items: center;margin-top: 10px;"><h2>기업 매칭 리스트</h2></div>
    <div style="display: flex; gap: 5px; align-items: center;">
        <input type="checkbox" id="selectAll"  style="margin: 0px; width: 10px; height: 10px; margin-right: 0px;" onclick="toggleSelectAll(this)">
        <label for="selectAll">전체선택</label>
    </div>
    <hr style="border: 1px solid #4e4e4e; margin-top: 5px;">
    <div>
        <th:block th:each="resume : ${resumeList}">
            <input type="hidden" name="resumeNo" id="resumeNo" th:value="${resume.resumeNo}">
            <div style="display: flex; gap: 30px; padding: 20px;">
                <div style="display: flex; align-items: center;">
                    <input type="checkbox" class="resume-checkbox"  style="width:30px; height: 30px; margin-right: 0px;">
                </div>
                <div style="width: 100px; height: 100px; display: flex; align-items: center;">
                    <th:block th:if="${resume.fileUrl == null}">
                        <img src="/static/upload/20241230094808802.jpg" style="display: flex; align-items: center; justify-content: center; width: 100%; height: 100%;  border-radius: 50%; object-fit: cover;">
                    </th:block>
                    <th:block th:if="${resume.fileUrl != null}">
                        <img th:src="${resume.fileUrl}" style="display: flex; align-items: center; justify-content: center; width: 100%; height: 100%;  border-radius: 50%; object-fit: cover;">
                    </th:block>
                </div>
                <div style="display: flex; flex-direction: column; justify-content: center; gap: 10px;">
                    <div style="display: flex; gap: 10px; align-items: baseline;">
                        <a th:href="@{/resume/detail(resumeNo=${resume.resumeNo})}">
                            <span style="font-size: 20px; font-weight: bold;"> [[${resume.resumeTitle}]]  </span> </a>
                        <span style="font-size: 16px; color: #4e4e4e;">
                              <th:block th:if="${!resume.bookmarkCheck}">
                                  <input type="button" class="bookmark" th:data-resume="${resume.resumeNo}" id="bookmark"
                                         value="♡" onclick="bookmarkToggle(this)">
                              </th:block>
                              <th:block th:if="${resume.bookmarkCheck}">
                                <input type="button" class="bookmark" th:data-resume="${resume.resumeNo}" id="bookmark"
                                       value="♥" onclick="bookmarkToggle(this)">
                              </th:block>
                        </span>
                    </div>

                    <div style="display: flex; gap: 15px; align-items: center;">
                        <div style="font-weight: bold; font-size: 16px" class="detail-info">[[${resume.username}]] |</div>
                        <div class="detail-info">[[${resume.career}]]</div>
                        <div class="detail-info">[[${resume.educationName}]]</div>
                        <div class="detail-info">[[${resume.salary}]]</div>
                    </div>

                    <div style="display: flex; gap: 5px;">
                        <th:block th:each="stack, iterStat : ${resume.stackList}">
                            <div class="stack" th:if="${iterStat.index < 5}" >[[${stack}]]</div>
                        </th:block>

                        <th:block th:if="${resume.stackList.size() > 5}">
                            <div class="stack">+[[${resume.stackList.size() - 5}]]</div>
                        </th:block>
                    </div>
                </div>
            </div>
            <hr>
        </th:block>
    </div>

    <div style="margin: 0 auto; margin-top: 30px;">
        <button class="completBtn" onclick="positionOffer()">포지션 제안하기</button>
    </div>
</div>

<div class="modal" id="modal">
    <div>
        <div><h2>포지션 제안 - 진행중인 공고 리스트</h2></div>
        <hr style="border: 1px solid #4e4e4e;">
        <div class="modalList" id="modalList">
        </div>
        <div style="display: flex; justify-content: center; margin-top: 20px; gap: 10px; align-items: center;">
            <button class="cancelBtn" id="cancelBtn" onclick="cancelBtn()"> 닫기 </button>
            <button class="offerComplet" id="offerComplet" onclick="offerComplet()"> 포지션 제안하기 </button>
        </div>
    </div>
</div>

<script src="/static/js/hyepin/resume-matchingList.js"></script>
<!--<script src="/static/js/hyepin/resume-detail-company.js"></script>-->

</body>
</html>