<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout-test/layout}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/jeyeon/applicationList.css" />
    <title>applicationList</title>
</head>
<body layout:fragment="content">
    <div class="applicationList">
        <div class="list-container">
            <input type="hidden" name="sessionUsername" id="sessionUsername" th:value="${session.user != null ? session.user.getUsername() : ''}">
            <div>
                <h2 style="margin-top: 10px; font-weight: bold">채용 공고 목록</h2>
                 <div th:if="${user == null}" style="margin: 15px 0; font-size: 18px">총 <span style="color: #3af26e; font-weight: bold">[[${applicationCount}]]</span>건</div>
                 <div th:if="${user != null}" style="margin: 15px 0; font-size: 18px " >총 <span style="color: #3af26e; font-weight: bold">[[${applicationCount}]]</span>건</div>
            </div>
            <hr style="border: 1px solid #4e4e4e;">

            <!--기업 로그인이 되지 않았을 경우-->
            <div style="padding: 0px 20px 10px 20px;" >
                <th:block th:each="applicate : ${applicationList}">
                    <input type="hidden" name="applicationNo" id="applicationNo" th:value="${applicate.applicationNo}">
                    <div class="job-posting">
                        <div class="company-info">
                            <div class="company-name">[[${applicate.name}]]</div>
                        </div>
                        <div class="flex-box">
                            <a th:href="@{/application/detail/{applicationNo}(applicationNo=${applicate.applicationNo})}" class="job-title">
                                [[${applicate.applicationTitle}]]

                            </a>
                            <th:block th:if="${session.user != null && user.role != 'ROLE_COMPANY' && applicate.bookmarkCheck != 1}">
                                <input type="button" class="bookmark" th:data-application-no="${applicate.applicationNo}" id="bookmark"
                                       value="♡" onclick="bookmarkToggle(this)">
                            </th:block>
                            <th:block th:if="${session.user != null && user.role != 'ROLE_COMPANY' && applicate.bookmarkCheck == 1}">
                                <input type="button" class="bookmark" th:data-application-no="${applicate.applicationNo}" id="bookmark"
                                       value="♥" onclick="bookmarkToggle(this)">
                            </th:block>
                        </div>
                        <span class="apply-now" th:if="${user == null || user.role == 'ROLE_COMPANY'}" th:text="${applicate.day != null ? 'D-'+applicate.day + ' 마감' : '상시채용 공고'}"></span>
                        <button type="button" th:if="${user != null && user.role == 'ROLE_USER'}" class="apply-now" th:onclick="'getResumeList(' + ${applicate.applicationNo} + ')'">입사지원</button>
                        <div class="job-details">
                            <span class="job-address">[[${applicate.workingArea}]] · </span>
                            <span class="job-experience" th:text="${applicate.careerCode == 'G' ? '경력' :
                                    (applicate.careerCode == 'S' ? '신입' : '신입/경력')}">경력</span>
                        </div>
                        <div class="deadline" th:text="${applicate.deadlineDate != null ? applicate.deadlineDate : '상시모집'}"></div>
                    </div>

                    <hr>
                </th:block>
            </div>
        </div>
    </div>


    <!-- 혜빈 작업 !-->
    <div class="modal2" id="modal2">
        <div>
            <div><h2>내 이력서 목록</h2></div>
            <hr style="border: 1px solid #4e4e4e;">
            <div class="modalList2" id="modalList2">
            </div>
            <div style="display: flex; justify-content: center; margin-top: 20px; gap: 10px; align-items: center;">
                <button class="cancelBtn" id="cancelBtn" onclick="cancelBtn2()">닫기</button>
                <button class="applyStatus" id="applyStatus"><a href="/resume/applyStatus"> 입사지원 현황 바로가기 </a></button>
            </div>
        </div>
    </div>


    <script src="/static/js/hyepin/detail-application-modal.js"></script>
    <script src="/static/js/jeyeon/list-application.js"></script>
</body>
</html>