<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout-test/layout}">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
    <script type="text/javascript" src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=2c5e73fdd0fc4f5f05ec46d655832382&libraries=services"></script>

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/static/css/jeyeon/applicationDetail.css" />
    <title>Application Detail</title>
</head>
<body layout:fragment="content">
<div class="applicationDetail">
    <div class="container">
        <div class="job-posting">
            <header class="job-header">
                <div class="flex-box">
                    <span class="company-name">[[${companyResponse.name}]]</span>
                    <button type="button" class="subscribeBtn"><i class="bi bi-bookmark"></i>구독기업</button>
                </div>
                <h1> <span class="job-title">[[${applicationResponse.applicationTitle}]]</span></h1>

                <div class="company-management-btn">
                    <button type="button" class="jobBtn resume-listBtn" >지원이력서 보기</button>
                    <button type="button" class="jobBtn updateBtn">수정</button>
                    <button type="button" class="jobBtn deleteBtn">삭제</button>
                </div>

            </header>

            <section class="job-detail">
                <div class="job-summary">
                    <div class="label">경력</div>
                    <div class="value">[[${applicationResponse.careerCode}]]</div>

                    <div class="label">급여</div>
                    <div class="value" th:text="${applicationResponse.salary == 0 ? '면접 후 결정' : applicationResponse.salary + '만원'}"></div>


                    <div class="label">학력</div>
                    <div class="value">학력무관</div>
                    <div class="label">직급/직책</div>
                    <div class="value">사원</div>

                    <div class="label">근무형태</div>
                    <div class="value">정규직, 계약직</div>
                </div>
            </section>

            <section class="user-management-btn">
                <button type="button" class="jobBtn likeBtn"><i class="bi bi-heart"></i>21</button>
                <button type="button" class="jobBtn applyBtn">입사지원</button>
            </section>

            <section class="job-slider">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" style="background-color: rgb(255, 127, 127);">Slide 1</div>
                        <div class="swiper-slide" style="background-color: rgb(127, 175, 255);">Slide 2</div>
                        <div class="swiper-slide" style="background-color: rgb(127, 255, 127);">Slide 3</div>
                    </div>

                    <!-- 내비게이션 버튼 -->
                    <button type="button" aria-label="Previous" class="prevBtn" id="prevBtn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="none" viewBox="0 0 40 40">
                            <path stroke="#ffffff" d="M39.5 20c0 10.77-8.73 19.5-19.5 19.5S.5 30.77.5 20 9.23.5 20 .5 39.5 9.23 39.5 20Z"></path>
                            <path fill="#ffffff" d="M23.09 26.84a.833.833 0 0 1-1.179 0l-6.25-6.25a.833.833 0 0 1 0-1.18l6.25-6.25a.833.833 0 0 1 1.179 1.18L17.43 20l5.66 5.66a.833.833 0 0 1 0 1.18Z"></path>
                        </svg>
                    </button>

                    <button type="button" aria-label="Next" class="nextBtn" id="nextBtn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="none" viewBox="0 0 40 40">
                            <path stroke="#ffffff" d="M39.5 20c0 10.77-8.73 19.5-19.5 19.5S.5 30.77.5 20 9.23.5 20 .5 39.5 9.23 39.5 20Z"></path>
                            <path fill="#ffffff" d="M16.911 13.16a.833.833 0 0 1 1.179 0l6.25 6.25a.833.833 0 0 1 0 1.18l-6.25 6.25a.833.833 0 1 1-1.179-1.18l5.66-5.66-5.66-5.66a.833.833 0 0 1 0-1.18Z"></path>
                        </svg>
                    </button>
                </div>
            </section>


            <section class="job-requirements">
                <div class="flex-box">
                    <div class="check"><i class="bi bi-check-lg"></i></div><h2>모집부문 및 상세내용</h2>
                </div>

                <div class="job-content" th:utext="${content}"></div>
            </section>

            <section class="job-stack">
                <div class="flex-box">
                    <div class="check"><i class="bi bi-check-lg"></i></div><h2>요구 스킬</h2>
                </div>

            </section>

            <section class="process-steps" th:if="${applicationResponse.procedureCode != null}">
                <div class="flex-box">
                    <div class="check"><i class="bi bi-check-lg"></i></div><h2>진행단계</h2>
                </div>
            </section>

            <section class="job-map">
                <div class="flex-box">
                    <div class="check"><i class="bi bi-check-lg"></i></div><h2>근무 지역</h2>
                </div>
                <div id="map" style="width:100%;height:350px;"></div>
            </section>

            <section class="job-notice">
                <div class="flex-box">
                    <div class="check"><i class="bi bi-check-lg"></i></div><h2>유의사항</h2>
                </div>
                <div class="job-content">
                    <ul>
                        <li>입사지원 서류에 허위사실이 발견된 경우, 채용확정 이후라도 채용이 취소될 수 있습니다.</li>
                    </ul>

                </div>
            </section>

            <section class="company-info">
               <h2>회사 정보</h2>

                <ul>
                    <li>산업분야: IT</li>
                    <li>기업규모: 중견기업</li>
                    <li>근무형태: 정규직</li>
                </ul>
            </section>

            <footer class="related-posts">
                <h3>관련 채용 공고</h3>
                <div class="related-item">관련 공고 1</div>
                <div class="related-item">관련 공고 2</div>
            </footer>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<script>
    const swiper = new Swiper('.swiper-container', {
        loop: true,
        autoplay: {
            delay: 3000,
            disableOnInteraction: false,
        },
        speed: 600,
        navigation: {
            nextEl: '#nextBtn',  // 우측 버튼
            prevEl: '#prevBtn',  // 좌측 버튼
        },
    });
</script>

<script>
    window.onload = function() {
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
                center: new kakao.maps.LatLng(35.15983491237982, 129.05978926181044), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };

        // 지도를 생성합니다
        var map = new kakao.maps.Map(mapContainer, mapOption);

        // 주소-좌표 변환 객체를 생성합니다
        var geocoder = new kakao.maps.services.Geocoder();

        // 주소로 좌표를 검색합니다
        geocoder.addressSearch('제주특별자치도 제주시 첨단로 242', function(result, status) {
            // 정상적으로 검색이 완료됐으면
            if (status === kakao.maps.services.Status.OK) {

                var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

                // 결과값으로 받은 위치를 마커로 표시합니다
                var marker = new kakao.maps.Marker({
                    map: map,
                    position: coords
                });

                // 인포윈도우로 장소에 대한 설명을 표시합니다
                var infowindow = new kakao.maps.InfoWindow({
                    content: '<div style="width:150px;text-align:center;padding:6px 0;">우리회사</div>'
                });
                infowindow.open(map, marker);

                // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
                map.setCenter(coords);
            }
        });
    };
</script>
</body>
</html>