<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="org.green.backend.repository.dao.jeyeon.GubnDao">
    <select id="getCareerList" resultType="org.green.backend.dto.jeyeon.GubnDto">
        SELECT group_code, gubn_code, gubn_name
        FROM tbl_gubn
        WHERE group_code = 'career_code';
    </select>

    <select id="getPostionList" resultType="org.green.backend.dto.jeyeon.GubnDto">
        SELECT group_code, gubn_code, gubn_name
        FROM tbl_gubn
        WHERE group_code = 'position_code';
    </select>

    <select id="getEducationList" resultType="org.green.backend.dto.jeyeon.GubnDto">
        SELECT group_code, gubn_code, gubn_name
        FROM tbl_gubn
        WHERE group_code = 'education_code';
    </select>

    <select id="getEmploymentList" resultType="org.green.backend.dto.jeyeon.GubnDto">
        SELECT group_code, gubn_code, gubn_name
        FROM tbl_gubn
        WHERE group_code = 'employment_code';
    </select>

    <select id="getStackList" resultType="org.green.backend.dto.jeyeon.GubnDto">
        SELECT group_code, gubn_code, gubn_name
        FROM tbl_gubn
        WHERE group_code
            in(SELECT gubn_code
            FROM tbl_gubn
            WHERE group_code = 'stack_code');
    </select>

    <select id="getStack1thList" resultType="org.green.backend.dto.jeyeon.GubnDto">
        SELECT group_code, gubn_code, gubn_name
        FROM tbl_gubn
        WHERE group_code = 'stack_code';
    </select>

    <select id="getApplicationList" resultType="org.green.backend.dto.jeyeon.GubnDto">
        SELECT group_code, gubn_code, gubn_name
        FROM tbl_gubn
        WHERE group_code = 'application_code';
    </select>

</mapper>
