<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout-test/layout}">
<head>
    <title>Main Page</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="/static/css/hws/company-main.css">
</head>
<body layout:fragment="content">

<div class="genesis-main-container">

    <!-- Swiper -->
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="/static/img/img_default_banner.png" alt="Slide 1">
            </div>
            <div class="swiper-slide">
                <img src="/static/img/증명사진.jpg" alt="Slide 2">
            </div>
        </div>
    </div>

    <!-- 직무별 공고 분석  -->
    <h2 class="section-title">직무별 공고 분석</h2>
    <div class="analysis-section">
        <div class="chart-box">
            <h3>직무별 TOP 5 공고</h3>
            <img src="/static/img/bar_chart_placeholder.png" alt="Bar Chart" width="100%">
        </div>
        <div class="chart-box">
            <h3>지원율 TOP 5 공고</h3>
            <img src="/static/img/pie_chart_placeholder.png" alt="Pie Chart" width="100%">
        </div>
    </div>

    <!-- 진행 중인 공고  -->
    <div class="job-list-section">
        <h2 class="section-title">
            진행 중인 공고 <span th:text="'(총 ' + ${mainData.applicationList.size()} + '건)'">(총 0건)</span>
        </h2>        <div class="job-card-container">
            <div class="job-card" th:each="applications : ${mainData.applicationList}">
                <img th:src="${applications.fileUrl == null ? '/static/img/img_default_gonggo.png' : applications.fileUrl}"
                     alt="topCompany Application">
                <div class="genesis-card-label"
                     th:text="${applications.daysLeft != null && applications.daysLeft != 'D-0'
                           ? applications.daysLeft
                           : '상시'}"></div>
                <h3 th:text="${applications.applicationTitle}">백엔드 엔지니어</h3>
                <p th:text="${applications.workingArea} + ' · ' +
                              (applications.careerCode == 'G' ? '경력' :
                              (applications.careerCode == 'S' ? '신입' : '신입/경력'))"></p>
            </div>
        </div>
    </div>

    <!-- 최신 지원 내역  -->
    <div class="recent-applications">
        <div class="section-header">
            <h2 class="section-title">최신 입사 지원 내역</h2>
            <a href="#" class="more-link">
                더보기
                <span class="more-link-icon">+</span>
            </a>        </div>
        <div class="application-list">

            <div class="application-item" th:each="applicants : ${mainData.applicants}">
                <div class="application-content">
                    <h3 th:text="${applicants.resumeTitle}">백엔드 엔지니어</h3>
                    <p th:text="${applicants.name + (applicants.resumeMyTitle != null ? ' | ' + applicants.resumeMyTitle : '')}">
                        유희원 | 저는 참하는 개발자가 되고 싶습니다.
                    </p>
                    <p th:text="${(applicants.gender == 'F' ? '여' : '남') + ' | ' + applicants.age + '세 | ' + (applicants.totalCareerDescription != null ? '경력 ' + applicants.totalCareerDescription : '신입')}">
                        남 | 35세 | 경력 10년
                    </p>


                </div>
                <div class="application-tech">
                    <span class="tech-title">대표 기술스택</span>
                    <div th:if="${#lists.isEmpty(applicants.topSkills)}">
                        <span class="tag">대표 기술 없음</span>
                    </div>
                    <div class="application-tags" th:if="${!#lists.isEmpty(applicants.topSkills)}" th:each="skill : ${applicants.topSkills}">
                        <span class="tag" th:text="${skill}">JAVA</span>
                    </div>
                </div>

            </div>

        </div>
    </div>


</div>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
    const swiper = new Swiper('.swiper', {
        loop: true,
        autoplay: {
            delay: 3000,
            disableOnInteraction: false,
        },
        speed: 600,
    });
</script>

</body>
</html>
