<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout-test/layout}">
    <head>
        <title>Main Page</title>
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
        <link rel="stylesheet" href="/static/css/hws/main.css"/>
    </head>
    <body layout:fragment="content">

        <div class="genesis-main-container">

            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="/static/img/img_default_banner.png" alt="Slide 2">
                    </div>
                    <div class="swiper-slide">
                        <img src="/static/img/증명사진.jpg" alt="Slide 3">
                    </div>
                </div>
            </div>


            <!-- 평점 높은 기업 섹션 -->
            <div class="genesis-main-section">
                <div class="genesis-main-section-header">
                    <h2>평점 높은 기업공고</h2>
                    <a href="#" class="genesis-more-link">더보기 +</a>
                </div>
                <div class="genesis-main-cards">
                    <div th:each="like : ${mainData.likeApplications}" class="genesis-main-card">
                        <img th:src="${#lists.isEmpty(like.files) ? '/static/img/img_default_gonggo.png' : like.files[0].fileUrl}"
                             alt="topCompany Application">
                        <div class="genesis-card-heart">
                            <img src="https://via.placeholder.com/16x16" alt="Heart">
                        </div>
                        <div class="genesis-card-label"
                             th:text="${like.applicationData.daysLeft != null && like.applicationData.daysLeft != 'D-0'
                                       ? like.applicationData.daysLeft
                                       : '상시'}"></div>

                        <div class="genesis-main-card-content">
                            <h3 th:text="${like.applicationData.applicationTitle}"></h3>
                            <p th:text="${like.applicationData.companyName}"></p>
                            <p th:text="${like.applicationData.workingArea} + ' · ' +
                                          (like.applicationData.careerCode == 'G' ? '경력' :
                                          (like.applicationData.careerCode == 'S' ? '신입' : '신입/경력'))"></p>

                        </div>
                    </div>
                </div>
            </div>






            <!-- 인기 공고 섹션 -->
            <div class="genesis-main-section">
                <div class="genesis-main-section-header">
                    <h2>인기 공고</h2>
<!--
                    <a href="#" class="genesis-more-link">더보기 +</a>
-->
                </div>
                <div class="genesis-main-cards">
                    <div th:each="popularApp : ${mainData.popularApplications}" class="genesis-main-card two">
                        <img th:src="${#lists.isEmpty(popularApp.files) ? '/static/img/img_default_gonggo.png' : popularApp.files[0].fileUrl}"
                             alt="Popular Application">
                        <div class="genesis-card-heart">
                            <i class="far fa-heart fa-2x" style="color: #3AF26E;"></i>
<!--
                            <i class="fas fa-heart fa-2x" style="color: #3AF26E;"></i>
-->
                        </div>


                        <div class="genesis-card-label"
                             th:text="${popularApp.applicationData.daysLeft != null && popularApp.applicationData.daysLeft != 'D-0'
                                       ? popularApp.applicationData.daysLeft
                                       : '상시'}"></div>
                        <div class="genesis-main-card-content">
                            <h3 th:text="${popularApp.applicationData.applicationTitle}"></h3>
                            <p th:text="${popularApp.companyName}"></p>
                            <p th:text="${popularApp.applicationData.workingArea} + ' · ' +
                                          (popularApp.applicationData.careerCode == 'G' ? '경력' :
                                          (popularApp.applicationData.careerCode == 'S' ? '신입' : '신입/경력'))"></p>

                        </div>
                    </div>
                </div>
            </div>

            <div class="genesis-main-section">
                <div class="genesis-main-section-header">
                    <h2>추천 서비스</h2>
<!--
                    <a href="#" class="genesis-more-link">더보기 +</a>
-->
                </div>
                <div class="genesis-main-cards">
                    <div class="genesis-main-service-card">
                        <img src="/static/img/img_main_content1.png" alt="Matching Service">
                    </div>
                    <div class="genesis-main-service-card">
                        <img src="/static/img/img_main_content2.png" alt="Position Offers">
                    </div>
                </div>
            </div>

            <!-- 평점 높은 기업 섹션 -->
            <div class="genesis-main-section">
                <div class="genesis-main-section-header">
                    <h2>평점 높은 기업공고</h2>
                    <a href="#" class="genesis-more-link">더보기 +</a>
                </div>
                <div class="genesis-main-cards">
                    <div th:each="topCompany : ${mainData.topRatedCompanies}" class="genesis-main-card">
                        <img th:src="${#lists.isEmpty(topCompany.files) ? '/static/img/img_default_gonggo.png' : topCompany.files[0].fileUrl}"
                             alt="topCompany Application">
                        <div class="genesis-card-heart">
                            <img src="https://via.placeholder.com/16x16" alt="Heart">
                        </div>
                        <div class="genesis-card-label"
                             th:text="${topCompany.applicationData.daysLeft != null && topCompany.applicationData.daysLeft != 'D-0'
                                       ? topCompany.applicationData.daysLeft
                                       : '상시'}"></div>

                        <div class="genesis-main-card-content">
                            <h3 th:text="${topCompany.applicationData.applicationTitle}"></h3>
                            <p th:utext="${topCompany.name + ' <span style=&quot;color: gold;&quot;>★</span> ' + topCompany.averageStar}"></p>
                            <p th:text="${topCompany.applicationData.workingArea} + ' · ' +
                                          (topCompany.applicationData.careerCode == 'G' ? '경력' :
                                          (topCompany.applicationData.careerCode == 'S' ? '신입' : '신입/경력'))"></p>

                        </div>
                    </div>
                </div>
            </div>

        </div>

        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
        <script>
            const swiper = new Swiper('.swiper', {
                loop: true,
                autoplay: {
                    delay: 3000,
                    disableOnInteraction: false,
                },
                speed: 600,
            });
        </script>

    </body>
</html>
