<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<header th:fragment="header" class="header-container">
  <!-- 로고 -->
  <div class="header-logo">
    <a href=""> <img src="/static/img/genesis.png" alt="로고이미지" /> </a>
  </div>

  <!-- 메뉴 -->
  <div class="menu">
    <p id="recruitment" onclick="handleClick(event)">채용공고</p>
    <p id="support" onclick="handleClick(event)">고객센터</p>
  </div>

  <!-- 회색 줄 -->
  <div class="header-divider"></div>

  <!-- 오른쪽 메뉴 -->
  <div class="right-menu">
    <div class="login-signup">
      <p><a href="">회원가입</a></p>
      <p>|</p>
      <p><a href="">로그인</a></p>
    </div>
    <div class="service-button">
      기업 서비스
      <div class="arrow">^</div>
      <div class="service-dropdown">
        <p> <a href="">기업홈</a></p>
        <p> <a href="">공고 등록</a></p>
        <p> <a href="">지원자 관리</a></p>
      </div>
    </div>
  </div>

</header>
</html>
