<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Preview</title>

</head>
<header>
<!-- 전체 박스 -->
<div class="header-container">
    <!-- 로고 -->
    <div class="header-logo">
        <a href="/"> <img src="/static/img/genesis.png" alt="로고이미지" /> </a>
    </div>

    <div class="header-menu">
        <p id="recruitment" onclick="handleClick(event)">채용공고</p>
        <div class="header-resumeManagement">
            <p id="resumeManagement" onclick="handleClick(event)">이력서 관리</p>
            <div class="header-resume-dropdown">
                <p id="resume-regist" onclick="secondHandleClick(event)"><a href="">이력서 등록</a></p>
                <p id="resume-list" onclick="secondHandleClick(event)"><a href="">내 이력서 목록</a></p>
                <p id="resume-status" onclick="secondHandleClick(event)"><a href="">지원 공고 현황</a></p>
            </div>
        </div>

        <p id="matching" onclick="handleClick(event)">매칭리스트</p>
        <p id="support" onclick="handleClick(event)">고객센터</p>
    </div>

    <!-- 회색 줄 -->
    <div class="header-divider"></div>

    <!-- 오른쪽 메뉴 -->
    <div class="header-right-menu">
        <div class="header-login-user">
            <!-- 기본 종 모양 -->
            <div id="header-bell-block" style="display: none;">
                <i class="bi bi-bell" style="font-size: 24px;"></i>
            </div>

            <!-- 알림 종 모양 -->
            <div id="header-redbell-block" style="position: relative; display: inline-block; margin-left: 20px;" onclick="bellClick()">
                <i class="bi bi-bell-fill" style="font-size: 24px;"></i>
                <span class="header-redbell"></span>
            </div>
            <p>
                <img th:src="${session.user != null and session.user.fileUrl != null ? session.user.fileUrl : '/static/img/증명사진.jpg'}"
                     width="50px"
                     height="50px"
                     style="border-radius: 50%;"
                     alt="사용자 프로필 이미지">
            </p>
            <p>
                        <span class="header-username"
                              th:text="${session.user != null and session.user.name != null ? session.user.name : 'Guest'}"></span>
                <span> 님</span>
            </p>
        </div>
        <div class="header-service-button">
            회원 서비스
            <div class="header-arrow">^</div>
            <div class="header-service-dropdown">
                <p> <a href="">개인정보 관리</a></p>
                <p> <a href="">이력서 관리</a></p>
                <p> <a href="">스크랩</a></p>
                <p> <a href="">북마크</a></p>
                <p> <a href="">별점 관리</a></p>
                <p> <a onclick="clearStorage()">로그아웃</a></p>
            </div>
        </div>
    </div>
</div>
<script>
    //TODO 시간관계상 여기서 처리
    function clearStorage() {
        sessionStorage.clear();
        localStorage.clear();
        location.href = '/logout'
    }
</script>
</header>
</html>
