<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout-test/layout}">
    <head>
        <title>Title</title>
        <link rel="stylesheet" href="/static/css/hws/join.css">
        <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    </head>
    <body layout:fragment="content">
        <div class="genesis-join-container">

            <div class="input-group">
                <div class="input-title">
                    <span>*</span>
                    <div>기업명</div>
                </div>
                <div class="detail">
                    <input name="name" type="text" th:value="${company.name}" placeholder="기업명을 입력하세요...">
                </div>
            </div>

            <div class="input-group">
                <div class="input-title">
                    <span>*</span>
                    <div>창립일</div>
                </div>
                <div class="detail">
                    <input name="birth" type="date" th:value="${company.birth}" placeholder="창립일(예시 : 20000131)">
                </div>
            </div>

            <div class="input-group">
                <div class="input-title">
                    <span>*</span>
                    <div>기업 이메일</div>
                </div>
                <div class="detail">
                    <input name="email" th:value="${company.email}" type="email" placeholder="이메일을 입력하세요...">
                </div>
            </div>

            <div class="input-group">
                <div class="input-title">
                    <span>*</span>
                    <div>기업 전화번호</div>
                </div>
                <div class="detail">
                    <input maxlength="11" th:value="${company.phone}" name="phone" type="text" placeholder="기업 회선 번호 (-) 제외">
                </div>
            </div>

            <div class="input-group">
                <div class="input-title">
                    <span>*</span>
                    <div>주소검색</div>
                </div>
                <div class="detail">
                    <input name="zipcode" th:value="${company.zipcode}" type="text" placeholder="우편번호" readonly>
                    <button type="button" onclick="openDaumPostcode()">검색</button>
                </div>
                <div class="detail">
                    <input name="roadAddress" th:value="${company.roadAddress}" type="text" placeholder="주소를 입력하세요"
                           readonly>
                </div>
                <div class="detail">
                    <input name="detailAddress" th:value="${company.detailAddress}" type="text"
                           placeholder="상세 주소를 입력하세요">
                </div>
            </div>

            <div class="input-group">
                <div class="input-title">
                    <span>*</span>
                    <div>대표자명</div>
                </div>
                <div class="detail">
                    <input name="ceoName" th:value="${company.ceoName}" type="text">
                </div>
            </div>

            <div class="input-group">
                <div class="input-title">
                    <div>홈페이지 주소</div>
                    <div class="detail">
                        <input name="homepage" th:value="${company.homepage}" type="text">
                    </div>
                </div>
            </div>

            <div class="input-group">
                <div class="input-title">
                    <div>사원수</div>
                    <div class="detail">
                        <input name="employees" th:value="${company.employees}" type="text">
                    </div>
                </div>
            </div>

            <div class="input-group">
                <div class="input-title">
                    <div>매출액</div>
                    <div class="detail">
                        <input name="sale" th:value="${company.sale}" type="text">
                    </div>
                </div>
            </div>

            <div class="input-group">
                <div class="input-title">
                    <div>회사소개</div>
                    <div class="detail">
                        <textarea name="content" th:value="${company.content}" rows="4" cols="50"></textarea>
                    </div>
                </div>
            </div>

            <input type="hidden" name="username" id="username" th:value="${company.username}">


            <div class="input-group">
                <button onclick="submitForm()" class="join-btn">회원수정</button>
            </div>
        </div>
    </body>
</html>
<script src="/static/js/kwanhyun/company-edit.js"></script>